.printable-checklist {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.printable-checklist h1 {
  text-align: left;
}

.printable-checklist table {
  width: 100%;
  border-collapse: collapse;
}

.printable-checklist th,
.printable-checklist td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f9f9f9;
}

.printable-checklist tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.printable-checklist th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.printable-checklist .check-column {
  width: 50px;
}

@media print {
  .printable-checklist {
    max-width: none;
  }
}

.print-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: left;
  align-items: left;
  z-index: 1000;
}

.print-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}

@media print {
  .print-modal-content button {
    display: none;
  }
}
