@media print {
  .printable-checklist {
    max-width: none;
  }
}

.print-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: left;
  z-index: 1000;
}




@media print {
  .print-modal-content button {
    display: none;
  }
}
